/* =============== 공통 =============== */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    font-size: 12px;
}

a {
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center
}

li {
    list-style: none;
}

/* =============== Wrap =============== */
#wrap {}

/* =============== header =============== */

#header_area {
    border-bottom: 1px solid #eeeeee;
}

#header {
    width: 1280px;
    margin: 0 auto;
}

/*========= top-header 메뉴 =========*/
#top_header {
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.head_logo {
    margin-right: 20px;
    width: 130px;
}

#top_header>.head_search {
    width: 355px;
    height: 44px;
    border: 1px solid #dfdfe0;
    border-radius: 25px;
    margin: 13px 0px;
    margin-right: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head_search>form>input {
    font-size: 16px;
    margin-left: 25px;
    color: #a1a3a1;
    border: none;
}

.head_search>img {
    width: 25px;
    height: 25px;
    margin-right: 25px;
}

.header_ad {
    width: 180px;
}

#top_header>ul {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 320px;
}

#top_header>ul>li {
    display: flex;
    align-items: center;
}

#top_header span {
    padding: 0px 10px;
    color: #c4c4c4;
    font-size: 10px;
}

/*========= bottom-header 메뉴 =========*/
#bottom_menu {
    height: 54px;
    display: flex;
    justify-content: space-between;
}

#bottom_menu>.home_menu {
    width: 185px;
    display: flex;
    justify-content: space-between;
}

#bottom_menu>.home_menu li {
    border-bottom: 2px solid black;
    padding: 0px 12px 0px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom_menu>.home_menu a {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#bottom_menu>.my_menu {
    display: flex;
    justify-content: right;
    align-content: center;
}

#bottom_menu>.my_menu span {
    font-weight: bold;
    display: inline-block;
}

#bottom_menu>.my_menu>li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px
}

#bottom_menu>.my_menu img {
    width: 20px;
    margin-right: 5px;
}

#bottom_menu>.my_menu li:nth-child(2) img {
    margin-left: 20p;
}


/* =============== mian =============== */



/* =============== footer =============== */

#footer {}

#footer_menu {
    width: 1280px;
    margin: 0 auto;
}