._shortcut-menu-root_1d9i4_1 {
    margin: 0
}

._shortcut-menu-root_1d9i4_1 ._shortcut-menu-list_1d9i4_5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    margin-bottom: 4px
}

._shortcut-menu-root_1d9i4_1 ._shortcut-menu-item_1d9i4_13 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 16px;
    position: relative;
    white-space: nowrap;
    overflow-x: visible
}

._shortcut-menu-root_1d9i4_1 ._shortcut-menu-item_1d9i4_13:before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    left: -13px;
    background: var(--color-neutral-b-10, rgba(41, 41, 45, .1))
}

._shortcut-menu-root_1d9i4_1 ._shortcut-menu-item_1d9i4_13:first-child:before {
    display: none
}

@media (max-width:358px) {
    ._shortcut-menu-root_1d9i4_1 ._shortcut-menu-list_1d9i4_5 {
        flex-direction: column;
        align-items: start;
        gap: 4px
    }

    ._shortcut-menu-root_1d9i4_1 ._shortcut-menu-item_1d9i4_13:before {
        display: none
    }
}

._shortcut-link_1d9i4_51 {
    color: var(--color-neutral-b-60, rgba(41, 41, 45, .6));
    background-color: transparent;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    display: inline-block
}

._bold-link_1d9i4_60 {
    font-weight: 700
}

._company-license-root_utuf7_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8px
}

._expand-button_utuf7_8 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-neutral-g-60, #7e7e81) !important;
    background-color: transparent;
    cursor: pointer;
    white-space: pre;
    margin: 8px 0;
    text-indent: 0
}

._expand-button_utuf7_8 strong {
    font-size: 12px;
    margin-right: 4px
}

._accordion_utuf7_28 {
    overflow: hidden;
    margin-top: 4px
}

._company-license-root_utuf7_1 ._license-list_utuf7_33 {
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: left;
    margin-bottom: 16px
}

._license-item_utuf7_41 {
    display: flex;
    flex-wrap: wrap;
    color: hsla(0, 0%, 7%, .5);
    font-size: 12px;
    line-height: 16px
}

._license-item_utuf7_41 span:first-child:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: -1px 4px;
    background: var(--color-neutral-b-10, rgba(41, 41, 45, .1))
}

._company-license-root_utuf7_1 ._license-link_utuf7_58 {
    text-decoration: underline;
    color: var(--color-primary-nol, #4154ff);
    margin-left: 3px
}

._contact-list-heading_utuf7_64 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: var(--color-neutral-b-60, rgba(41, 41, 45, .6))
}

._contact-list_utuf7_64 {
    display: flex;
    flex-direction: column;
    gap: 2px
}

._contact-item_utuf7_77 {
    display: flex;
    flex-wrap: wrap;
    color: hsla(0, 0%, 7%, .5);
    font-size: 12px;
    line-height: 16px
}

._contact-link_utuf7_85 {
    color: hsla(0, 0%, 7%, .5)
}

._contact-link_utuf7_85:not(:first-child):before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: -1px 10px;
    background: var(--color-neutral-b-10, rgba(41, 41, 45, .1))
}

._company-policy-root_1ncsd_1 {
    margin-top: 16px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: var(--color-neutral-g-30, #bfbfc0);
    text-align: left
}

._family-site-root_1jkx2_1 {
    background-color: var(--color-neutral-w-100, #fff);
    border-radius: 20px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-top: 12px
}

._link-list_1jkx2_10 {
    display: flex;
    flex-direction: row;
    align-items: center
}

._link-item_1jkx2_16 {
    position: relative;
    display: flex;
    align-items: center;
    height: 12px
}

._link-item_1jkx2_16:not(:first-child) {
    margin-left: 28px
}

._link-item_1jkx2_16:not(:first-child):before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    left: -16px;
    border-radius: 100%;
    background: #d9d9d9
}

._link-item_1jkx2_16 a {
    display: flex;
    align-items: center;
    height: 12px
}

._link-item_1jkx2_16 img {
    object-fit: contain
}

@media (max-width:302px) {
    ._link-list_1jkx2_10 {
        flex-direction: column;
        gap: 12px;
        align-items: flex-start
    }

    ._link-item_1jkx2_16:not(:first-child) {
        margin-left: 0
    }

    ._link-item_1jkx2_16:not(:first-child):before {
        display: none
    }
}

._visually-hidden_1jkx2_66 {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
    position: absolute !important
}

._mobile-footer-root_1phhg_1 {
    display: flex;
    flex-direction: column;
    align-items: stretch !important;
    padding: 20px 20px 100px !important;
    margin: 0;
    text-align: start;
    color: hsla(0, 0%, 7%, .5);
    font-size: 11px;
    background-color: #f7f7f8 !important
}

@media (max-width:1023px) {
    ._mobile-footer-root_1phhg_1 {
        display: flex
    }
}

@media (min-width:1024px) {
    ._mobile-footer-root_1phhg_1 {
        display: none !important
    }
}

._mobile-footer-root_lmjwg_1 {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Droid Sans, Helvetica Neue, Apple SD Gothic Neo, sans-serif !important
}

._mobile-footer-root_lmjwg_1 hgroup,
._mobile-footer-root_lmjwg_1 menu,
._mobile-footer-root_lmjwg_1 nav,
._mobile-footer-root_lmjwg_1 section {
    display: block
}

._mobile-footer-root_lmjwg_1 ol,
._mobile-footer-root_lmjwg_1 ul {
    list-style: none;
    padding: 0;
    margin: 0
}

._mobile-footer-root_lmjwg_1 input,
._mobile-footer-root_lmjwg_1 select {
    vertical-align: middle
}

._mobile-footer-root_lmjwg_1 input {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0
}

._mobile-footer-root_lmjwg_1 button,
._mobile-footer-root_lmjwg_1 input,
._mobile-footer-root_lmjwg_1 select {
    border: 0;
    padding: 0;
    box-shadow: 0;
    border-radius: 0;
    background: #fff;
    color: #000
}

._mobile-footer-root_lmjwg_1 a,
._mobile-footer-root_lmjwg_1 button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer
}

._mobile-footer-root_lmjwg_1 a {
    text-decoration: none
}

._mobile-footer-root_lmjwg_1 a:hover {
    color: unset
}

._mobile-footer-root_lmjwg_1 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

._mobile-footer-root_lmjwg_1 button:active {
    opacity: .5
}

._mobile-footer-root_lmjwg_1 select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

._mobile-footer-root_lmjwg_1 select::-ms-expand {
    display: none
}

._mobile-footer-root_lmjwg_1 h3 {
    margin: 0
}

._mobile-footer-root_1j9tv_1 {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 100px;
    margin: 0;
    text-align: start;
    color: hsla(0, 0%, 7%, .5);
    font-size: 11px;
    background-color: #f7f7f8
}

._shortcut-menu-root_vznc6_1 {
    border-bottom: 1px solid #e6e6e6
}

._shortcut-menu-root_vznc6_1 ._menu-list_vznc6_5 {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    height: 50px;
    margin: 0 auto;
    padding: 0 20px
}

._shortcut-menu-root_vznc6_1 ._menu-item_vznc6_17 {
    position: relative;
    box-sizing: border-box;
    padding: 10px 14px;
    color: #29292d;
    font-size: 13px
}

._shortcut-menu-root_vznc6_1 ._menu-item_vznc6_17:first-child {
    padding-left: 0
}

._shortcut-menu-root_vznc6_1 ._menu-item_vznc6_17:not(:first-child):before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 1px;
    height: 12px;
    background: #ccc
}

._menu-link_vznc6_39 {
    color: var(--color-neutral-b-100, #29292d);
    font-size: 13px;
    vertical-align: top
}

._bold-link_vznc6_45 {
    font-weight: 700
}

@media (min-width:1280px) {
    ._shortcut-menu-root_vznc6_1 ._menu-list_vznc6_5 {
        max-width: 1280px;
        justify-content: space-between
    }

    ._shortcut-menu-root_vznc6_1 ._menu-item_vznc6_17:not(:first-child):before {
        left: -14px
    }
}

._dropdown-trigger_14x4d_1 {
    color: #333;
    font-size: 13px
}

._dropdown-trigger_14x4d_1:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 3px 0 0 5px;
    border-right: 1px solid #111;
    border-bottom: 1px solid #111;
    transform: rotate(45deg);
    vertical-align: top
}

._dropdown-panel_14x4d_18 {
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px
}

._dropdown-panel_14x4d_18:focus {
    outline: none
}

._dropdown-item_14x4d_33 {
    border: none;
    background: none;
    cursor: pointer;
    color: #333;
    outline: none
}

._company-license-root_1s9ox_1 {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 30px 20px;
    justify-content: space-between
}

@media (min-width:1280px) {
    ._company-license-root_1s9ox_1 {
        max-width: 1280px
    }
}

._license-section_1s9ox_17 {
    text-align: left
}

._license-title_1s9ox_21 {
    color: #111;
    font-size: 14px;
    font-weight: 700
}

._license-content_1s9ox_27 {
    margin-top: 4px
}

._contact-link_1s9ox_33,
._license-content_1s9ox_27 {
    color: var(--color-neutral-b-80, rgba(41, 41, 45, .8));
    font-size: 12px
}

._contact-link_1s9ox_33:not(:first-child) {
    position: relative;
    padding-left: 11px
}

._contact-link_1s9ox_33:not(:first-child):before {
    content: "";
    position: absolute;
    top: 1px;
    left: 5px;
    width: 1px;
    height: 14px;
    background-color: #666
}

._highlight-contact-link_1s9ox_53 {
    color: var(--color-primary-nol, #4154ff) !important;
    text-decoration: underline !important;
    font-size: 12px
}

._highlight-contact-link_1s9ox_53:not(:first-child) {
    position: relative;
    padding-left: 11px
}

._highlight-contact-link_1s9ox_53:not(:first-child):before {
    content: "";
    position: absolute;
    top: 1px;
    left: 5px;
    width: 1px;
    height: 14px;
    background-color: #666
}

._company-policy-root_1nyx1_1 {
    box-sizing: border-box;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left
}

@media (min-width:1280px) {
    ._company-policy-root_1nyx1_1 {
        max-width: 1280px
    }
}

._policy-text_1nyx1_18 {
    color: hsla(0, 0%, 7%, .5);
    font-size: 12px;
    line-height: 18px
}

._footer-banner-root_114uo_1 {
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: top
}

._banner-link_114uo_7 {
    display: block
}

._banner-image_114uo_11 {
    display: block;
    margin: 0 auto
}

@media (max-width:1023px) {
    ._footer-banner-root_114uo_1 {
        display: none !important
    }
}

@media (min-width:1024px) {
    ._footer-banner-root_114uo_1 {
        display: block
    }
}

._footer-banner-root_1hlkg_1 {
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: top
}

._banner-link_1hlkg_7 {
    display: block
}

._banner-image_1hlkg_11 {
    display: block;
    margin: 0 auto
}

._desktop-footer-root_1s01o_1 {
    overflow: hidden;
    background-color: #fff !important;
    border-top: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: stretch !important
}

@media (max-width:1023px) {
    ._desktop-footer-root_1s01o_1 {
        display: none !important
    }
}

@media (min-width:1024px) {
    ._desktop-footer-root_1s01o_1 {
        display: flex
    }
}

._desktop-footer-root_82rmr_1 {
    width: 100%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 맑은 고딕, Malgun Gothic, 돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif !important
}

._desktop-footer-root_82rmr_1 hgroup,
._desktop-footer-root_82rmr_1 menu,
._desktop-footer-root_82rmr_1 nav,
._desktop-footer-root_82rmr_1 section {
    display: block
}

._desktop-footer-root_82rmr_1 ol,
._desktop-footer-root_82rmr_1 ul {
    list-style: none;
    padding: 0;
    margin: 0
}

._desktop-footer-root_82rmr_1 input,
._desktop-footer-root_82rmr_1 select {
    vertical-align: middle
}

._desktop-footer-root_82rmr_1 input {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0
}

._desktop-footer-root_82rmr_1 button,
._desktop-footer-root_82rmr_1 input,
._desktop-footer-root_82rmr_1 select {
    border: 0;
    padding: 0;
    box-shadow: 0;
    border-radius: 0;
    background: #fff;
    color: #000
}

._desktop-footer-root_82rmr_1 a,
._desktop-footer-root_82rmr_1 button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer
}

._desktop-footer-root_82rmr_1 a {
    text-decoration: none
}

._desktop-footer-root_82rmr_1 a:hover {
    color: unset
}

._desktop-footer-root_82rmr_1 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

._desktop-footer-root_82rmr_1 button:active {
    opacity: .5
}

._desktop-footer-root_82rmr_1 select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

._desktop-footer-root_82rmr_1 select::-ms-expand {
    display: none
}

._desktop-footer-root_82rmr_1 p {
    margin: 0
}

._desktop-footer-root_o8j03_1 {
    overflow: hidden;
    background-color: #fff !important;
    border-top: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: stretch !important;
    min-width: 1024px
}

._right-icon-menu-root_1bwdu_1 {
    margin-left: auto
}

._right-icon-menu-root_1bwdu_1._right-icon-menu-root--hidden_1bwdu_5 {
    width: 54px
}

._right-icon-menu-root_1bwdu_1 ._search_1bwdu_9 {
    display: block;
    height: 100%;
    margin-left: 8px;
    padding-right: 20px;
    font-size: 0;
    line-height: 54px
}

._right-icon-menu-root_1bwdu_1 ._search_1bwdu_9>svg {
    vertical-align: middle
}

._right-icon-menu-root_1bwdu_1._app-settings_1bwdu_22 button {
    height: 100%;
    padding-right: 12px
}

._right-icon-menu-root_1bwdu_1._app-settings_1bwdu_22 button:last-of-type {
    padding-right: 20px
}

._visually-hidden_12zim_1 {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important
}

._link-root_q7k2w_1 {
    display: inline-block;
    height: 100%;
    margin-right: 12px;
    padding-left: 20px;
    line-height: 54px;
    font-size: 0
}

._link-root_q7k2w_1 img._brand-logo_q7k2w_10 {
    width: auto;
    height: auto;
    max-width: 64px;
    vertical-align: middle
}

:root {
    --service-link-pad: 16px
}

._service-list_1ne1c_5 {
    display: flex;
    align-items: stretch;
    height: 100%
}

._service-list_1ne1c_5 li {
    position: relative
}

._service-list_1ne1c_5 li[data-selected=true]:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100% - (var(--service-link-pad) * 2) + 4px);
    height: 2px;
    margin: 0 auto;
    background-color: var(--color-neutral-b-100, #29292d);
    transition: transform .3s
}

._service-link_1ne1c_25 {
    display: inline-block;
    height: 100%;
    padding: 0 var(--service-link-pad);
    line-height: 54px;
    font-size: 0
}

._service-link_1ne1c_25>svg {
    vertical-align: middle
}

._mobile-header-root_1fkmm_3 {
    display: flex
}

._mobile-header-root_1fkmm_3 hgroup,
._mobile-header-root_1fkmm_3 menu,
._mobile-header-root_1fkmm_3 nav,
._mobile-header-root_1fkmm_3 section {
    display: block
}

._mobile-header-root_1fkmm_3 ol,
._mobile-header-root_1fkmm_3 ul {
    margin: 0;
    padding: 0;
    list-style: none
}

._mobile-header-root_1fkmm_3 input,
._mobile-header-root_1fkmm_3 select {
    vertical-align: middle
}

._mobile-header-root_1fkmm_3 input {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0
}

._mobile-header-root_1fkmm_3 input[type=text]::-ms-clear,
._mobile-header-root_1fkmm_3 input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0
}

._mobile-header-root_1fkmm_3 input[type=search]::-webkit-search-cancel-button,
._mobile-header-root_1fkmm_3 input[type=search]::-webkit-search-decoration,
._mobile-header-root_1fkmm_3 input[type=search]::-webkit-search-results-button,
._mobile-header-root_1fkmm_3 input[type=search]::-webkit-search-results-decoration {
    display: none
}

._mobile-header-root_1fkmm_3 button,
._mobile-header-root_1fkmm_3 input,
._mobile-header-root_1fkmm_3 select {
    border: 0;
    padding: 0;
    box-shadow: 0;
    border-radius: 0;
    background: #fff;
    color: #000;
    text-indent: 0
}

._mobile-header-root_1fkmm_3 a,
._mobile-header-root_1fkmm_3 button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer
}

._mobile-header-root_1fkmm_3 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

._mobile-header-root_1fkmm_3 button:active {
    opacity: .5
}

._mobile-header-root_1fkmm_3 select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

._mobile-header-root_1fkmm_3 select::-ms-expand {
    display: none
}

._mobile-header-root_1fkmm_3 h1 {
    margin: 0;
    padding: 0
}

._mobile-header-root_1fspc_5 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: var(--mobile-header-height);
    display: flex;
    flex-direction: row !important;
    align-items: stretch !important;
    border-bottom: 1px solid transparent !important;
    background-color: var(--color-neutral-w-100, #fff);
    color: var(--color-neutral-b-100, #29292d);
    box-sizing: border-box
}

._mobile-header-root_1fspc_5._mobile-header-root--scrolled_1fspc_21 {
    border-color: var(--color-neutral-g-10, #eaeaea) !important
}

._mobile-header-root_1fspc_5._mobile-header-root--default_1fspc_25>:first-of-type:not(h2) {
    flex-basis: 122px;
    flex-shrink: 2
}

._mobile-header-root_1fspc_5._mobile-header-root--default_1fspc_25>:last-child {
    margin-left: 0;
    text-align: right
}

._mobile-header-root--app_1fspc_35._mobile-header-root--default_1fspc_25>:first-of-type:not(h2) {
    flex-basis: 44px
}

._mobile-header-root_1fspc_5>h2 {
    flex-shrink: 1;
    margin: 0 auto;
    font-size: 16px;
    text-align: center
}

._mobile-header-root_1fspc_5 ._mobile-header-title-only_1fspc_52,
._mobile-header-root_1fspc_5>h2 {
    align-self: center;
    font-weight: 700;
    line-height: 1.4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

._mobile-header-root_1fspc_5 ._mobile-header-title-only_1fspc_52 {
    padding-left: 20px;
    font-size: 18px;
    text-align: left
}

._mobile-header-placeholder_1fspc_64 {
    width: 100%;
    height: var(--mobile-header-height)
}

:root {
    --mobile-header-height: 54px
}

._mobile-header-root_1y624_5 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: var(--mobile-header-height);
    display: flex;
    flex-direction: row !important;
    align-items: stretch !important;
    border-bottom: 1px solid transparent !important;
    background-color: var(--color-neutral-w-100, #fff);
    color: var(--color-neutral-b-100, #29292d);
    box-sizing: border-box
}

._mobile-header-root_1y624_5._mobile-header-root--scrolled_1y624_21 {
    border-color: var(--color-neutral-g-10, #eaeaea) !important
}

._mobile-header-root_1y624_5._mobile-header-root--default_1y624_25>:first-of-type:not(h2) {
    flex-basis: 122px;
    flex-shrink: 2
}

._mobile-header-root_1y624_5._mobile-header-root--default_1y624_25>:last-child {
    margin-left: 0;
    text-align: right
}

._mobile-header-root--app_1y624_35._mobile-header-root--default_1y624_25>:first-of-type:not(h2) {
    flex-basis: 44px
}

._mobile-header-root_1y624_5>h2 {
    flex-shrink: 1;
    margin: 0 auto;
    font-size: 16px;
    text-align: center
}

._mobile-header-root_1y624_5 ._mobile-header-title-only_1y624_52,
._mobile-header-root_1y624_5>h2 {
    align-self: center;
    font-weight: 700;
    line-height: 1.4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

._mobile-header-root_1y624_5 ._mobile-header-title-only_1y624_52 {
    padding-left: 20px;
    font-size: 18px;
    text-align: left
}

._mobile-header-placeholder_1y624_64 {
    width: 100%;
    height: var(--mobile-header-height)
}

@media (max-width:1023px) {
    ._mobile-header-root_1y624_5 {
        display: flex
    }

    ._mobile-header-placeholder_1y624_64 {
        display: block
    }
}

@media (min-width:1024px) {

    ._mobile-header-placeholder_1y624_64,
    ._mobile-header-root_1y624_5 {
        display: none !important
    }
}

._app-main-root_r4o5s_1 {
    padding-left: 20px
}

._app-main-root_r4o5s_1 ._menu-button_r4o5s_5 {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 100%
}

._app-main-root_r4o5s_1 ._menu-button_r4o5s_5 svg:last-of-type {
    padding-left: 2px
}

._app-main-menu_r4o5s_16 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .16);
    list-style: none
}

._app-main-menu_r4o5s_16 li {
    order: 2
}

._app-main-menu_r4o5s_16 li button {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 16px;
    font-weight: 700;
    color: #000
}

._app-main-menu_r4o5s_16 li button:active {
    opacity: .5
}

._app-main-menu_r4o5s_16 li._menu-item--active_r4o5s_47 {
    order: 1
}

._app-main-menu_r4o5s_16 li._menu-item--active_r4o5s_47 button {
    color: var(--Primary-Primary_Nol, #4154ff)
}

._app-main-menu_r4o5s_16 li svg {
    padding-left: 8px;
    vertical-align: -3px
}

._back-button-root_f5acy_1 {
    padding-left: 4px
}

._back-button-root_f5acy_1 button._back-button_f5acy_1 {
    height: 100%;
    padding: 8px;
    text-align: left
}

._back-button-root_f5acy_1 button._back-button_f5acy_1 svg {
    vertical-align: middle
}

._app-header-root_1syg6_3 {
    display: flex
}

._app-header-root_1syg6_3 hgroup,
._app-header-root_1syg6_3 menu,
._app-header-root_1syg6_3 nav,
._app-header-root_1syg6_3 section {
    display: block
}

._app-header-root_1syg6_3 ol,
._app-header-root_1syg6_3 ul {
    margin: 0;
    padding: 0;
    list-style: none
}

._app-header-root_1syg6_3 input,
._app-header-root_1syg6_3 select {
    vertical-align: middle
}

._app-header-root_1syg6_3 input {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0
}

._app-header-root_1syg6_3 input[type=text]::-ms-clear,
._app-header-root_1syg6_3 input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0
}

._app-header-root_1syg6_3 input[type=search]::-webkit-search-cancel-button,
._app-header-root_1syg6_3 input[type=search]::-webkit-search-decoration,
._app-header-root_1syg6_3 input[type=search]::-webkit-search-results-button,
._app-header-root_1syg6_3 input[type=search]::-webkit-search-results-decoration {
    display: none
}

._app-header-root_1syg6_3 button,
._app-header-root_1syg6_3 input,
._app-header-root_1syg6_3 select {
    border: 0;
    padding: 0;
    box-shadow: 0;
    border-radius: 0;
    background: #fff;
    color: #000;
    text-indent: 0
}

._app-header-root_1syg6_3 a,
._app-header-root_1syg6_3 button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer
}

._app-header-root_1syg6_3 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

._app-header-root_1syg6_3 button:active {
    opacity: .5
}

._app-header-root_1syg6_3 select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

._app-header-root_1syg6_3 select::-ms-expand {
    display: none
}

._app-header-root_1syg6_3 h1 {
    margin: 0;
    padding: 0
}

:root {
    --app-header-height: 54px
}

._app-header-root_1bk15_5 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: var(--app-header-height);
    display: flex;
    flex-direction: row !important;
    align-items: stretch !important;
    border-bottom: 1px solid transparent !important;
    background-color: var(--color-neutral-w-100, #fff);
    color: var(--color-neutral-b-100, #29292d);
    box-sizing: border-box
}

._app-header-root_1bk15_5>h2 {
    flex-shrink: 1;
    margin: 0 auto;
    font-size: 16px;
    text-align: center
}

._app-header-root_1bk15_5 ._app-header-title-only_1bk15_33,
._app-header-root_1bk15_5>h2 {
    align-self: center;
    font-weight: 700;
    line-height: 1.4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

._app-header-root_1bk15_5 ._app-header-title-only_1bk15_33 {
    padding-left: 20px;
    font-size: 18px;
    text-align: left
}

._app-header-root_1bk15_5._app-header-root--scrolled_1bk15_46 {
    border-color: var(--color-neutral-g-10, #eaeaea) !important
}

._app-header-root_1bk15_5._app-header-root--default_1bk15_50>:first-of-type:not(h2) {
    flex-basis: 44px;
    flex-shrink: 2
}

._app-header-root_1bk15_5._app-header-root--default_1bk15_50>:last-child {
    margin-left: 0;
    text-align: right
}

._app-header-placeholder_1bk15_61 {
    width: 100%;
    height: var(--app-header-height)
}

._form-root_1yipa_1 {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 46px;
    padding: 12px 50px 12px 24px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    overflow: scroll-x;
    width: 354px;
    border-radius: 25px;
    border: 1px solid #dfdfe0;
    background: #fff
}

._form-submit-button_1yipa_19 {
    position: absolute;
    right: 20px;
    width: 24px;
    height: 24px
}

._input-field-root_n9y8c_1 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 22px
}

._input-field-root--compact_n9y8c_9 {
    height: 18px
}

._marketing-text-field_n9y8c_13 {
    color: var(--color-neutral_b_50, rgba(41, 41, 45, .5));
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    width: 269px;
    display: flex;
    align-items: center
}

._marketing-text-field--filled_n9y8c_26 {
    color: #000
}

._marketing-text-field--compact_n9y8c_30 {
    line-height: 18px
}

._input-field_n9y8c_1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    width: 269px
}

._input-field--compact_n9y8c_41 {
    line-height: 18px
}

._input-field_n9y8c_1:focus-visible {
    outline: 0
}

._icon_16vxe_1 {
    background-size: 100% auto;
    background-repeat: no-repeat
}

._rank-new_16vxe_6 {
    width: 26px;
    height: 28px
}

._rank-new_16vxe_6:before {
    font-size: 10px;
    line-height: 28px;
    color: #ff322e;
    content: "NEW"
}

._rank-keep_16vxe_18 {
    width: 10px;
    margin: 0 9px;
    height: 2px;
    background-color: #bfbfc0
}

._auto-completion-container_16vxe_25 {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #f7f7f8
}

._container_1kdo9_1 {
    overflow: hidden auto;
    max-height: 475px;
    text-align: left;
    padding: 8px
}

._title_1kdo9_8 {
    color: #29292d;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 20px
}

._timestamp_1kdo9_17 {
    margin: 0;
    float: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #949496
}

._list_1kdo9_26 {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    width: 100%;
    height: 160px;
    margin: 0;
    padding: 0;
    counter-reset: num
}

._item_1kdo9_37 {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 178px;
    height: 28px;
    margin-bottom: 5px;
    line-height: 28px
}

._item_1kdo9_37:nth-child(5n) {
    margin-bottom: 0
}

._item_1kdo9_37:before {
    content: counter(num);
    counter-increment: num;
    position: absolute;
    left: 0;
    width: 18px;
    text-align: left;
    color: #29292d;
    font-size: 16px
}

._item_1kdo9_37:nth-child(-n+3):before {
    font-weight: 700;
    color: #ff322e
}

._keyword_1kdo9_70 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    font-size: 16px;
    max-width: 150px;
    color: #000;
    font-weight: 400;
    padding-left: 32px;
    text-decoration: none
}

._keyword_1kdo9_70:hover {
    text-decoration: none;
    color: #4f4f4f
}

._rank-container_1kdo9_88 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 28px;
    height: 28px;
    font-size: 14px;
    font-weight: 700;
    text-align: center
}

._rank-variance-up_1kdo9_99 {
    color: #ff322e
}

._rank-variance-down_1kdo9_103 {
    color: #949496
}

._recent-search-keywords-container_11rzp_1 {
    margin: 0 auto 32px;
    padding: 8px;
    text-align: left
}

._title-container_11rzp_7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

._title-container_11rzp_7 h3 {
    margin: 0;
    color: var(--gray-gray-9001-c-1-c-1-e, #1c1c1e);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%
}

._recent-search-keyword-list_11rzp_23 {
    margin: 0;
    padding: 0
}

button._recent-search-delete-all_11rzp_28 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

._recent-search-keyword-item_11rzp_37 {
    max-width: 100%;
    margin: 10px 6px 0 0;
    display: inline-flex;
    position: relative;
    background: rgba(65, 84, 255, .1);
    border-radius: 16px;
    box-sizing: border-box;
    line-height: 32px;
    padding-left: 12px
}

._recent-search-keyword-item_11rzp_37 a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    max-width: 200px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px
}

._recent-search-keyword-item_11rzp_37 a,
._recent-search-keyword-item_11rzp_37 a:hover {
    color: var(--Primary-Primary_Nol, #4154ff);
    text-decoration: none
}

._recent-search-keyword-item_11rzp_37 button {
    display: flex;
    align-items: center;
    height: 32px;
    line-height: 32px;
    padding-left: 6px;
    padding-right: 12px;
    background-color: transparent;
    border: none
}

._hot-regions-container_4rcsy_1 {
    margin: 0 auto 32px;
    padding: 8px
}

._hot-regions-container_4rcsy_1 h3 {
    color: var(--gray-gray-9001-c-1-c-1-e, #1c1c1e);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 12px
}

._hot-regions-container_4rcsy_1 ul {
    display: flex;
    align-items: flex-start;
    gap: 20px
}

._hot-region-item_4rcsy_20 a {
    color: var(--gray-gray-9001-c-1-c-1-e, #1c1c1e);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
}

._hot-region-item_4rcsy_20 img {
    width: 56px;
    height: 56px;
    border-radius: 28px
}

._keyword-container_u1k8h_1 {
    border-radius: 8px;
    list-style: none
}

._keyword-container_u1k8h_1:hover {
    border-radius: 12px;
    background: var(--Foundation-Foundation_BG2, #f7f7f8)
}

._keyword-container_u1k8h_1 a {
    padding: 12px 8px;
    gap: 16px;
    display: flex;
    align-items: center;
    align-self: stretch;
    color: #29292d;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none
}

._keyword-container_u1k8h_1 a span {
    flex: 1 1
}

._keyword-container_u1k8h_1 a:hover {
    text-decoration: none;
    color: #29292d
}

._keyword-container_u1k8h_1 img {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 12px
}

._keyword-container_u1k8h_1 div {
    font-size: 16px
}

._primary-shortcut-label_u1k8h_48 {
    font-weight: 700
}

._shortcut-sublabel_u1k8h_52 {
    display: flex;
    color: var(--Netural_B-Neutral_B_60, rgba(41, 41, 45, .6));
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px
}

._highlight_u1k8h_61 {
    color: var(--Primary-Primary_blue, #4154ff);
    font-weight: 700;
    font-size: 16px;
    font-style: normal
}

._shortcut-icon-container_rpz1g_1 {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: rgba(65, 84, 255, .1)
}

._shortcut-icon-container_rpz1g_1 img {
    width: 20px;
    height: 20px
}

._list_a0ybw_1 {
    margin: 0;
    padding: 0;
    text-align: left
}

._desktop-header-root_x59ty_3 {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: stretch !important;
    border-bottom: none !important
}

._desktop-header-root_x59ty_3 hgroup,
._desktop-header-root_x59ty_3 menu,
._desktop-header-root_x59ty_3 nav,
._desktop-header-root_x59ty_3 section {
    display: block
}

._desktop-header-root_x59ty_3 ol,
._desktop-header-root_x59ty_3 ul {
    list-style: none
}

._desktop-header-root_x59ty_3 input,
._desktop-header-root_x59ty_3 select {
    vertical-align: middle
}

._desktop-header-root_x59ty_3 input {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0
}

._desktop-header-root_x59ty_3 input[type=text]::-ms-clear,
._desktop-header-root_x59ty_3 input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0
}

._desktop-header-root_x59ty_3 input[type=search]::-webkit-search-cancel-button,
._desktop-header-root_x59ty_3 input[type=search]::-webkit-search-decoration,
._desktop-header-root_x59ty_3 input[type=search]::-webkit-search-results-button,
._desktop-header-root_x59ty_3 input[type=search]::-webkit-search-results-decoration {
    display: none
}

._desktop-header-root_x59ty_3 button,
._desktop-header-root_x59ty_3 input,
._desktop-header-root_x59ty_3 select {
    border: 0;
    padding: 0;
    box-shadow: 0;
    border-radius: 0;
    background: #fff;
    color: #000
}

._desktop-header-root_x59ty_3 a,
._desktop-header-root_x59ty_3 button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer
}

._desktop-header-root_x59ty_3 a {
    text-decoration: none
}

._desktop-header-root_x59ty_3 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

._desktop-header-root_x59ty_3 button:active {
    opacity: .5
}

._desktop-header-root_x59ty_3 select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

._desktop-header-root_x59ty_3 select::-ms-expand {
    display: none
}

._desktop-header-root_x59ty_3 menu {
    margin: 0;
    padding: 0
}

._desktop-header-root_1ayfa_1,
._desktop-header-root_1rr1c_1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: var(--color-neutral-w-100, #fff)
}

@media (max-width:1023px) {
    ._desktop-header-root_1ayfa_1 {
        display: none !important
    }
}

@media (min-width:1024px) {
    ._desktop-header-root_1ayfa_1 {
        display: flex
    }
}

._link-root_1q6rc_1 {
    margin-right: 12px;
    width: 144px;
    height: 22px;
    background: url(https://tour-web-assets.interparkcdn.net/assets/int-frontend/nol-header/nol-interpark-logo.svg) no-repeat 50%
}

._rolling-banner-root_fcx81_1 {
    display: flex;
    width: 180px;
    height: 50px;
    margin-left: 12px
}

._rolling-banner-root_fcx81_1 a {
    width: 100%;
    height: 100%
}

._rolling-banner-root_fcx81_1 img {
    width: inherit;
    height: inherit;
    object-fit: cover
}

._family-site-link-root_jj02b_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto
}

._link-item_jj02b_8 {
    display: inline-flex;
    align-items: center;
    height: 30px
}

._divider_jj02b_14 {
    display: inline-flex;
    width: 1px;
    height: 12px;
    background: var(--Netural_B-Neutral_B_15, rgba(41, 41, 45, .15));
    margin: 0 10px
}

._link-item_jj02b_8:first-child {
    margin-left: 0
}

._link-item_jj02b_8:last-child {
    margin-right: 0
}

._interpark-global_jj02b_30 {
    background: url(https://tour-web-assets.interparkcdn.net/assets/int-frontend/nol-header/partner-interpark-global.svg?v=20250429) no-repeat 50%;
    width: 110px;
    height: 15px
}

._triple_jj02b_37 {
    background: url(https://tour-web-assets.interparkcdn.net/assets/int-frontend/nol-header/partner-triple.svg?v=20250429) no-repeat 50%;
    width: 53px;
    height: 12px
}

._nol_jj02b_44 {
    background: url(https://tour-web-assets.interparkcdn.net/assets/int-frontend/nol-header/partner-nol.svg?v=20250429) no-repeat 50%;
    width: 30px;
    height: 12px
}

menu._service-menu-root_10ogp_1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%
}

._service-menu-root_10ogp_1 li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 2px;
    margin: 0 10px;
    width: 48px;
    height: 100%
}

._service-menu-root_10ogp_1 li:first-child {
    margin: 0
}

._service-menu-root_10ogp_1 li[data-selected=true] {
    border-bottom: 2px solid var(--color-neutral-b-100, #29292d);
    padding-bottom: 0;
    transition: transform .3s
}

._service-menu-root_10ogp_1 a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px
}

menu._event-menu-root_cbjp0_1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
    height: 100%
}

menu._event-menu-root_cbjp0_1:before {
    content: "";
    width: 1px;
    height: 20px;
    background: var(--Netural_B-Neutral_B_15, rgba(41, 41, 45, .15))
}

._event-menu-root_cbjp0_1 li {
    display: inline;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    background: #4154ff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

menu._my-menu-root_1xzlz_1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    height: 45px;
    position: relative
}

menu._my-menu-root_1xzlz_1 a {
    color: #000
}

._my-menu-root_1xzlz_1 li {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    gap: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch
}

._my-page-container_1xzlz_27 {
    position: absolute;
    right: 0;
    top: 0;
    width: 406px;
    height: 700px;
    max-height: 80dvh;
    max-height: 80vh;
    font-size: 0;
    z-index: 10;
    border-radius: 16px;
    border: .5px solid rgba(41, 41, 45, .1);
    background: linear-gradient(180deg, #f5f5fa, #fff 36.85%);
    box-shadow: 0 1px 8px rgba(29, 29, 119, .12);
    overflow: hidden;
    box-sizing: border-box
}

._my-page-container_1xzlz_27 iframe {
    height: 100%;
    width: 100%;
    border: none
}

._reservations-container_1xzlz_52 {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 16px;
    border: .5px solid rgba(41, 41, 45, .05);
    background: #fff;
    box-shadow: 0 1px 8px rgba(29, 29, 119, .12)
}

._reservations-container_1xzlz_52 a {
    display: flex;
    width: 120px;
    align-items: center;
    align-self: stretch;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    text-decoration: none
}

._menu-label_1xzlz_80 {
    flex: 1 1
}

._menu-counter_1xzlz_84 {
    display: flex;
    align-items: center;
    align-self: stretch
}

menu._category-menu-root_19dki_1 {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%
}

menu._category-menu-root_19dki_1 li {
    padding: 0 8px
}

menu._category-menu-root_19dki_1 a {
    font-size: 16px;
    line-height: 22px;
    color: var(--Netural_B-Neutral_B_80, rgba(41, 41, 45, .8))
}

menu._season-menu-root_1c76a_1 {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;
    margin-left: 8px
}

menu._season-menu-root_1c76a_1:before {
    content: "";
    width: 1px;
    height: 15px;
    background: var(--Grey-DDDDDD, #ddd)
}

menu._season-menu-root_1c76a_1 li {
    padding: 0 8px
}

menu._season-menu-root_1c76a_1 a {
    font-size: 16px;
    line-height: 22px;
    color: var(--primary-primary-purple, #3549ff)
}

._main-wrapper_h2lh9_1 {
    border-bottom: 1px solid var(--color-neutral_g_10, #eaeaea)
}

._search-bar_h2lh9_5 {
    height: 70px;
    font-size: 1rem;
    line-height: 1.2
}

._menu-bar_h2lh9_18,
._search-bar_h2lh9_5 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 1024px
}

._menu-bar_h2lh9_18 {
    height: 54px
}

._sub-menu-bar_h2lh9_32,
._sub-wrapper_h2lh9_28 {
    background-color: #fbfbfb
}

._sub-menu-bar_h2lh9_32 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 1024px;
    height: 58px
}

@media (min-width:1280px) {

    ._menu-bar_h2lh9_18,
    ._search-bar_h2lh9_5,
    ._sub-menu-bar_h2lh9_32 {
        max-width: 1280px
    }
}

@media (max-width:1024px) {

    ._menu-bar_h2lh9_18,
    ._search-bar_h2lh9_5,
    ._sub-menu-bar_h2lh9_32 {
        width: 1024px
    }
}

._fixed-header-root_19ymw_1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: block !important;
    width: 100vw;
    height: 62px;
    box-sizing: border-box !important;
    background-color: var(--color-neutral-w-100, #fff) !important;
    border-bottom: 1px solid var(--color-neutral_g_10, #eaeaea) !important
}

._menu-bar_19ymw_17 {
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box
}

@media (max-width:1279px) {
    ._menu-bar_19ymw_17 {
        max-width: 1024px
    }
}

@media (min-width:1280px) {
    ._menu-bar_19ymw_17 {
        max-width: 1280px
    }
}

@media (max-width:1024px) {
    ._fixed-header-root_19ymw_1 {
        width: 1024px
    }
}

._link-title_1d94u_1 {
    font-size: 10px;
    color: #7e7e81;
    line-height: 14px
}

._link-title-active_1d94u_7 {
    font-size: 10px;
    font-weight: 700;
    color: #29292d
}

._gnb-root_1nnv3_3 li,
._gnb-root_1nnv3_3 ul,
div,
nav {
    margin: 0;
    padding: 0
}

._gnb-root_1nnv3_3 {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: solid rgba(41, 41, 45, .1);
    border-width: 1px 0 0;
    background-color: #fff;
    z-index: 9000;
    padding-bottom: env(safe-area-inset-bottom)
}

._gnb-root_1nnv3_3 ul {
    display: flex;
    width: 100%;
    list-style: none
}

._gnb-root_1nnv3_3 li {
    flex: 1 1;
    padding: 8px 0 6px
}

._gnb-root_1nnv3_3 a {
    display: block;
    text-align: center;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer
}

._gnb-root_1nnv3_3 i,
._gnb-root_1nnv3_3 span {
    display: block;
    width: 100%;
    text-align: center
}

._gnb-placeholder_1nnv3_47 {
    width: 100%;
    height: 54px;
    padding-bottom: env(safe-area-inset-bottom);
    background-color: #fff
}