/* =============== 공통 =============== */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    font-size: 12px;
}

a {
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center
}

li {
    list-style: none;
}

/* =============== Wrap =============== */


/* =============== 1. header =============== */

#header_area {
    border-bottom: 1px solid #eeeeee;
    overflow: visible;
}

#header {
    width: 1280px;
    margin: 0 auto;
    padding: 0px 20px;
    overflow: visible;
}

/* ==== 1-1. top_header ====*/
#top_header {
    display: flex;
    align-items: center;
}

.header_logo {
    /* 1-1-1. 로고 */
    width: 144px;
    height: 25px;
    background-image: url("01_img_HF/nol-interpark-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 12px;
}

/* 1-1-2. 검색창 */
#top_header>.header_search {
    width: 354px;
    height: 44px;
    border: 1px solid #dfdfe0;
    border-radius: 25px;
    margin: 13px 0px;
    margin-right: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_search>input {
    font-size: 16px;
    margin-left: 25px;
    color: rgba(41, 41, 45, 0.5);
    border: none;
}

.header_search>a {
    background-image: url("01_img_HF/icon_search.png");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 20px;
}

/* 1-1-3. 검색창 옆 광고 */
.header_ad {
    width: 180px;
    height: 50px;
    background-image: url("01_img_HF/header_AD.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0px 8px;
}

/* 1-1-4. 페밀리 사이트 */
#top_header>div {
    display: flex;
    align-items: center;
    margin-left: 295px;
}

#top_header>div a {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#top_header>div>a:nth-child(1) {
    width: 30px;
    height: 12px;
    background-image: url("01_img_HF/partner-nol.svg");
}

#top_header>div>a:nth-child(3) {
    width: 53px;
    height: 12px;
    background-image: url("01_img_HF/partner-triple.svg");
}

#top_header>div>a:nth-child(5) {
    width: 115px;
    height: 15px;
    background-image: url("01_img_HF/partner-interpark-global-small.svg");
}

#top_header span {
    padding: 0px 8px;
    color: #c4c4c4;
    font-size: 10px;
}

/* ==== bottom_header ====*/
#bottom_menu {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}

/*1-2-1. 홈, 투어, 티켓*/
#bottom_menu>.main_menu {
    display: flex;
    justify-content: space-between;
}

#bottom_menu>.main_menu li {
    width: 48px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom_menu>.main_menu a {
    display: inline-block;

    color: black;
    font-size: 22px;
}

#bottom_menu>.main_menu>li:nth-child(2),
#bottom_menu>.main_menu>li:nth-child(3) {
    margin: 0px 10px;
}

#bottom_menu>.main_menu>li:nth-child(1)>a {
    /*홈,투어,티켓 페이지 별로 강조 영역, nth-child의 숫자 변경*/
    font-weight: bold;
}

#bottom_menu>.main_menu>li:nth-child(1) {
    /*홈,투어,티켓 페이지 별로 강조 영역, nth-child의 숫자 변경*/
    border-bottom: 2px solid #29292d;
}

/* 1-2-2. 로그인, 내예약 */

.my_menu {
    display: flex;
}

.my_menu>a {
    display: flex;
}

.my_menu>a>div {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.my_menu>a>span {
    font-weight: bold;
    display: inline-block;
    margin-left: 9px;
}

.my_menu>a:nth-child(1)>div {
    background-image: url("01_img_HF/login.jpg");
}

.my_menu>a:nth-child(3)>div {
    background-image: url("01_img_HF/ticket.jpg");
}

.my_menu>div {
    width: 18px;
}

/* 1-2-3. 메뉴 창 sticky*/
#header_area {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1000; 
}

/* =============== footer =============== */

#footer {
    background-color: #ffffff;
}

#footer>div:nth-child(1) {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

/* 3-1-1. 회사소개~Language */
#footer_menu {
    width: 1280px;
    height: 50px;
    padding: 0px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#footer_menu>li {
    padding: 10px 14px;
    align-content: center;
}

#footer_menu a {
    font-size: 13px;
    display: inline-flex;
}

#footer_menu span {
    display: inline-block;
    align-content: center;
    color: #cccccc;
    font-weight: bold;
}

#footer_menu>li:nth-child(17) > a > div,
#footer_menu>li:nth-child(19) > a > div {
    width: 10px;
    height: 10px;
    background-image: url(01_img_HF/down_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    margin-left: 8px;
}

/* 3-1-2. 고객센터, Language 드롭메뉴 */
#footer_menu>li:nth-child(17) > a > div,
#footer_menu>li:nth-child(19) > a > div {
    position: relative;
}

.footer_sub {
    position: absolute;
    padding: 16px;
    width: 110px;

    background-color: white;
    box-shadow: 0 0 16px rgba(0, 0, 0, .2);
    border-radius: 8px;

    display: none;
}

.footer_sub > div {
    height: 9px;
}

#footer_menu>li:nth-child(19) .footer_sub {
    width: 85px;
}

#footer_menu>li:hover .footer_sub{
    display: block;
}


/* 3-2-1. 회사정보~담당정보 */

#footer_info {
    width: 1280px;
    margin: 0 auto;
}

#footer_info>#company_info {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}

#footer_info h3 {
    font-size: 15px;
    margin-bottom: 3px;
}

#footer_info .info_a {
    text-decoration: underline;
    color: #4154ff;
}

#footer_info p,
#footer_info a {
    color: rgba(41, 41, 45, .8);
}

/* 3-3-1. copy right */

#footer_noti {
    width: 1280px;
    margin: 0 auto;
    padding: 0px 20px 50px 20px;
    color: rgb(136, 136, 136);
}