/* 1. size : width, height*/

.box{
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 100px;
}

.widthHeight{
    width: 200px;
    height: 200px;
}

/*최소 가로 사이즈 600px
최대는 없으므로 화면 가로 사이즈 600px 이상에서는 100%*/

.minWidth { 
    min-width: 600px;
}

/*최대 가로 사이즈 600px
최소는 없으므로 화면 가로 사이즈가 600px 이하에서는 100%*/

.maxWidth {
    max-width: 600px;
}

/*최소 세로 사이즈 100px
내용이 적으면 세로 100px, 많으면 세로로 늘어남 */
.minHeight{
    width: 200px;
    min-height: 100px;
}

/*최대 세로 사이즈 
내용이 적으면 세로 100px 많으면 구역을 벗어남*/
.maxHeight{
    width: 200px;
    max-height: 100px;
    overflow: hidden;
}

/*===========================*/

/* overflow : 지정요소보다 하위요소 크기가 더 클 때*/

.overflow > div {
    width: 200px; height: 100px;
    background-color: beige;
}

/* overflow
1. visible; 내용이 넘쳐도 그냥 보여줌(default)
2. hidden; 내용이 넘치면 자름
3. scroll; 내용의 양과 무관하게 항상 스크롤을 표시
4. auto; 내용이 넘치면 스크롤바 표시
*/

.overflow :nth-child(2){
    overflow: visible;
}

.overflow :nth-child(4){
    overflow: hidden;
}

.overflow :nth-child(6){
    overflow: scroll;
}

.overflow :nth-child(8){
    overflow: auto;
}

/*x축, y축에 각각 스크롤바 표시 유무를 설정할 수 있음*/
.overflow :nth-child(10){
    overflow-x: hidden;
    overflow-y: scroll;
}