/*
    [ CSS 구조 ]
        선택자{ 속성명:값;}
    [ CSS 선택자 ]
        1. *        : 와일드카드, 전체 선택
        2. 마크업명  : 마크업 선택자
        3. .class   : 클래스 선택자 >> 복수
        4.#아이디    : 아이디 선택자 >> 단일
            * 만일 속성이 중복일 때 우선순위
                (style 속성)> #id > .class > 마크업 > *
                그 외 중복일 때는 코드 작성순으로 마지막 코드의 속성이 적용
            관례적, 최대한 클래스를 활용 > 특정 부분만 ID 선택자 사용
        5. 다중선택자 : 여러 개 선택자를 한번에 적용 
            A선택자, B선택자 { 속성명:값;}
        6. 자식(하위) 선택자 : >
            부모 선택자 > 자식선택자{}
        7. 자손 선택자 : 띄어쓰기
            부모 선택자" "자손선택자{}
*/  

*{ color:red;}
h4{ color:blue ;}
.구역1{ color:yellow;}
#구역2{ color:brown;}
.구역3{ color:beige;}
#구역4{ color:violet;}

h5, h6{ color:orange;}

div > h3{ color:green;} 

div h3 { color: purple;}
div li { color:aqua ;}